.presentation  .carousel-control-next, .presentation  .carousel-control-prev {
    width:5%;
}

.presentation .slide-container{
    width:85vw;
    height:86vh;
    font-size:1.3vw;
    border:solid .2vw black;
    margin-left:auto; 
    margin-right:auto;
    }
.presentation .slide-container h1,
.presentation .slide-container h2,
.presentation .slide-container h3,
.presentation .slide-container h4 {
    text-align: center;

}
.presentation img.picture {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 40%;
}