/* 
THIS WON'T WORK
Syntax error: Selector "body" is not pure (pure selectors must contain at least one local class or id)


body{
    color:blue;
    background-color: white;
} */

.whaley{
    color:blue;
    background-color: white;
}